# trunk-ignore-all(prettier)
# FILE_LOCATION: https://github.com/Trahloc/Misc/blob/main/civit/.pre-commit-config.yaml.template
repos:
  []
# Removed all hooks as civit is currently not setup to ZLF standards
# and the existing hooks were causing cascading failures.
# This allows commits to proceed while civit-specific pre-commit
# strategy is determined.
