# FILE_LOCATION: https://github.com/Trahloc/Misc/blob/main/zeroth_law/src/zeroth_law/templates/tests/test_example_module.py.template
"""
# PURPOSE: Test for {directory}

## INTERFACES:
    # - [function_name(param_type) -> return_type]: [description]

## DEPENDENCIES:
    # - [module_path]: [What's needed.]
"""
import pytest
from {directory}.example_module import example_function

def test_example():
    example_function([])
    assert True is True