# FILE_LOCATION: template_zeroth_law/requirements.txt
autoinit     # For automatic __init__.py generation.
black
flake8
isort        # For consistent import ordering
mypy
pytest-cov   # For coverage reporting.
pytest       # Use a specific version, I've used a more recent one here.
tomli        # For reading TOML files (used in project setup warning tests)
typer        # Consider using Typer for your CLI in zeroth-law
