# FILE_LOCATION: hfais/.pylintrc

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring: Docstrings are handled by file headers.
    C0115,  # missing-class-docstring: Docstrings are handled by file headers.
    C0116,  # missing-function-docstring: Docstrings are handled by file headers.
    # ... add other codes to disable as needed ...

[FORMAT]
max-line-length=140

[DESIGN]
max-args=7